@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
    --color-brand-50: oklch(97% 0.02 264);
    --color-brand-100: oklch(93% 0.04 264);
    --color-brand-200: oklch(87% 0.08 264);
    --color-brand-300: oklch(78% 0.13 264);
    --color-brand-400: oklch(65% 0.16 264);
    --color-brand-500: oklch(52% 0.18 264);
    --color-brand-600: oklch(45% 0.18 264);
    --color-brand-700: oklch(38% 0.18 264);
    --color-brand-800: oklch(32% 0.16 264);
    --color-brand-900: oklch(26% 0.13 264);
    --color-brand-950: oklch(20% 0.1 264);
}

:root {
    --ui-primary: var(--color-brand-700);
}

.dark {
    --ui-primary: var(--color-brand-200);
}
